*{
    margin: 0;
  }
  .navbar-light {
    color: azure;
    position: absolute;
    top: 20px;
    right: 0;

  }

  form{

    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    top:100px;
  
 
}
  .navbar-light > .container{
  
    text-align: center;
    
  }
  .navbar-light > .container > h4{
      background-color: black;
      font-weight: bold;
      width: 180px;
      padding: 10px 0;
      border-radius: 20px;
  }
  
  p{
    font-size: large;
  }
  
  
  /* ==================================== */
    .outer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
    }
    
    .inner {
      width: 450px;
      margin: auto;
      background: #ffffff;

      padding: 40px 55px 45px 55px;
      border-radius: 15px;
      transition: all .3s;
  
    }
    
    .outer .form-control:focus {
      border-color: #167bff;
      box-shadow: none;
    }
    
    .outer h3 {
      font-weight: bold;
      text-align: center;
      margin: 0;
      line-height: 1;
      padding-bottom: 20px;
    }
    
    label{
      font-weight: 600;
    }
    .forgot-password,
    .forgot-password{
      text-align: right;
      font-size: 13px;
      padding-top: 10px;
      color: #7f7d7d;
      margin: 0;
      cursor: pointer;
    }
    
    .forgot-password a {
      color: #167bff;
    }